.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media(min-width:375px) and (max-width:767px){
  .text-xs {
    font-size: 0.60rem !important;
}
}
body{
  background: #f1f5f9;
}
.react-mapbox-ac-input{
  outline: 2px solid transparent;
    outline-offset: 2px;
    --tw-text-opacity: 1;
    color: rgb(31 41 55 / var(--tw-text-opacity));
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding: 0.25rem;
    width: 100% !important;
    font-family: inherit;
    font-size: 100%;
    line-height: inherit;
}
